<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LibraryOfFreelancer"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.LichSuCongViecEmployerActivity"
            android:exported="false" />
        <activity
            android:name=".view.ChiTietCongViecActivity"
            android:exported="false" />
        <activity
            android:name=".view.DanhSachAppliedActivity"
            android:exported="false" />
        <activity
            android:name=".view.ChinhSuaHoSoEmployerActivity"
            android:exported="false" />
        <activity
            android:name=".view.employer.HoSoEmployerActivity"
            android:exported="false" />
        <activity
            android:name=".view.freelancer.DangKyCongViecActivity"
            android:exported="false" />
        <activity
            android:name=".view.employer.CongViecDaDangEmployerActivity"
            android:exported="false" />
        <activity
            android:name=".view.employer.TrangChuEmployerActivity"
            android:exported="false" />
        <activity
            android:name=".view.DangKyActivity"
            android:exported="false" />
        <activity
            android:name=".view.freelancer.LichSuCongViecActivity"
            android:exported="false" />
        <activity
            android:name=".view.NutCaiDatActivity"
            android:exported="false" />
        <activity
            android:name=".view.freelancer.CongViecDaNhanActivity"
            android:exported="false" />
        <activity
            android:name=".view.QuenMatKhauActivity"
            android:exported="false" />
        <activity
            android:name=".view.TaoMatKhauMoiActivity"
            android:exported="false" />
        <activity
            android:name=".view.NhapMaOTPActivity"
            android:exported="false" />
        <activity
            android:name=".view.freelancer.HoSoFreelancerActivity"
            android:exported="false" />
        <activity
            android:name=".view.freelancer.TrangChuFreeLancerActivity"
            android:exported="false" />
        <activity
            android:name=".view.DangNhapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>